<h1>StaticAssets</h1>
<div class="h-feed">
  <% @static_assets.each do |static_asset| %>
    <div class="h-entry">
      <div class='p-name'>
        <%= static_asset.name %>
      </div>
      <a href="<%= static_asset_url(static_asset.name) %>" rel="bookmark" class="u-url u-uid">
        <%= static_asset_url(static_asset.name) %>
      </a>
    </div>
  <% end %>
</div>
