@media (min-width: 980px) {
  .wrapper:before,
  .wrapper:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .wrapper:after {
    clear: both;
  }
  .layout-side-left section[role=main] {
    float: right;
  }
  .layout-side-left .aside-top,
  .layout-side-left aside[role=complementary] {
    float: left;
  }
  footer[role=contentinfo] {
    clear: both;
  }
}
