@media (min-width: 980px) {
  .layout-side-left section[role=main] {
    float: right;
  }
  .layout-side-left aside[role=complementary] {
    float: left;
  }
  footer[role=contentinfo] {
    clear: both;
  }
}
