<p>
  <strong>Name:</strong>
  <%= feature.name %>
</p>

<% if logged_in? %>
  <p>
    <%= link_to "Edit", edit_feature_path(feature) %> |
    <%= link_to "Destroy", feature, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>
